<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" type="text/css" href="/css/404.css"/>
  <title>404 NOT FOUND</title>
  
</head>
<body>
    <img src="/assets/404_not_found.jpg" id="bg" alt=""></img>
    
</body>
</html>