<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" type="text/css" href="/css/create.css"/>
  <script src="create.js" defer></script>
  <title>CREATE MEETING</title>
  
</head>
<body>
    <form id="form">
        <div id="set-name">
          <input type="text" id="name" placeholder="Type your name here..."></input>
          <button type="button" id="submit">CREATE</button>
        </div>
    </form>
</body>
</html>