<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" type="text/css" href="/css/whiteboard.css"/>
  <title>Teams WhiteBoard</title>
  
</head>
<body>
  <h1 style="text-align: center; color: aqua; font-family: Georgia, 'Times New Roman', Times, serif;">Microsoft Teams WhiteBoard</h1>
  <iframe class="iframe" src="https://writeon.netlify.app"></iframe>
</body>
</html>