#form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#set-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name{
    height: 30px;
    width: 300px;
    margin: 10px;
}

#meeting-id{
    height: 30px;
    width: 300px;
    margin: 10px;
}

#submit{
    width: 100px;
    border-radius: 20px;
    background-color: rgb(117, 117, 182);
    color: aliceblue;
    height: 30px;
}

#submit:hover{
    transform: scaleX(1.2);
    transform: scaleY(1.2);
    background: blue;
}

.animation-container{
    display: flex;
}

#building{
    position: absolute;
    left: 20px;
    bottom: 100px;
}

#cyclist{
    position: absolute;
    left: 230px;
    bottom: 120px;
    animation-name: drive;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#office{
    position: absolute;
    right: 20px;
    bottom: 100px;
}

@keyframes drive {
    from{transform: translateX(0);}
    to{transform: translateX(800px);}
}


